<!DOCTYPE html>
<html>
<head>
  <title>The Cushion - Empowering Community Collaboration</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body id="ournaropa_decisions">

 <nav>
  <div class="nav-wrapper primary-color">
    <div class="container">
      <%= link_to "The Cushion", root_path, :class => "brand-logo" %>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-desktop" class="right hide-on-med-and-down">
        <!--<li><%= link_to "#" do %><i class="material-icons left">build</i>Manage Decisions<% end %></li>-->
        <li><%= link_to "#" do %><%= image_tag "ournaropa_decisions/user.jpg", class: "responsive-img circle" %> Hi, User!<% end %></li>
        <li><%= link_to "#" do %><i class="material-icons left">power_settings_new</i>Log Out<% end %></li>
      </ul>
      <ul class="side-nav" id="nav-mobile">
        <!--<li><%= link_to "#" do %><i class="material-icons left">build</i>Manage Decisions<% end %></li>-->
        <li><%= link_to "#" do %><%= image_tag "ournaropa_decisions/user.jpg", class: "responsive-img circle" %> Hi, User!<% end %></li>
        <li><%= link_to "#" do %><i class="material-icons left">power_settings_new</i>Log Out<% end %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="section"></div>

<div id="mock_up_warning" class="container deep-orange darken-4 white-text">
  <div class="row">
    <div class="col s12">
      <div class="add_padding z-depth-3">
        <div class="row no-margin-bottom">
          <div class="col s3 m2 l1 center-align">
            <i class="material-icons medium">warning</i>
          </div>
          <div class="col s9 m10 l11 left-align">
            <i id="close_mock_up_warning" class="material-icons right">close</i>
            <b>Disclaimer:</b><br/>This is a mock-up of what a web app for community
            decision-making could look like. It is non-interactive and most buttons
            have no functionality. All data is entirely made-up.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mock_up_feedback" class="container blue white-text clickable">
  <div class="row">
    <div class="col s12">
      <div class="add_padding z-depth-3">
        <div class="row no-margin-bottom">
          <div class="col s3 m2 l1 center-align">
            <i id="fb_icon" class="material-icons medium">message</i>
          </div>
          <div class="col s9 m10 l11 left-align">
            <i id="close_mock_up_feedback" class="material-icons right">close</i>
            <b id="fb_title">What do you think?</b><br/>Your feedback will help shape this
            platform.

            <div class="row no-margin-bottom">
              <%= form_for @feedback, url: submit_feedback_path, remote: true, html: {class: "col s12 text-white"} do |f| %>

                <div class="section"></div>

<!--                <div class="divider"></div>

                <div class="section"></div>-->

                <div class="row">
                  <div class="input-field col s12">
                    <%= f.text_area :content, class: "materialize-textarea" %>
                    <%= f.label :content, "I think..." %>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12 m6">
                    <%= f.email_field :email %>
                    <%= f.label :email, "Email (Optional)" %>
                  </div>
                  <div class="input-field col s12 m6">
                    <p>
                      <%= f.check_box :wants_to_stay_informed %>
                      <%= f.label :wants_to_stay_informed, "Please keep me posted about future developments." %>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12 right-align">
                    <button class="btn-flat waves-effect waves-light white-text" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>

              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield %>

<% # if there is a notice, display for 5 seconds
  if notice %>
  <script type="text/javascript">
    Materialize.toast("<%= escape_javascript notice %>", 5000) // 4000 is the duration of the toast
  </script>
<% end %>

<!-- Modal Structure -->
<div id="modal" class="modal">
</div>

<!-- Initialize mobile menu -->
<script type="text/javascript">

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();

    /*$('.modal-trigger').click(function() {
      decision_id = $(this).parents("div.decision").attr('id');
      $("#modal").html($("#"+decision_id+"_modal_content").html())
      $('#modal').openModal();
    });*/


    $(".button-collapse").sideNav();
    $("#close_mock_up_warning").click(function(event) {
      event.stopPropagation();
      $("#mock_up_warning").slideUp();
    });

    $("#mock_up_feedback form").hide(0);

    $("#close_mock_up_feedback").click(function(event) {
      event.stopPropagation();
      $("#mock_up_feedback").slideUp();
    });
    $("#mock_up_feedback").click(function() {
      $(this).removeClass("clickable");
      $("#mock_up_feedback form").slideDown();
    });
  });
</script>

</body>
</html>
